.qw {
    display: flex;
    flex-direction: column;
    width: 434px;
    height: 467px;
    background-color: #F5F5F5;
}
.header {
    text-align: center;
}
.header__img {
    margin-top: 25px;
    margin-left: 375px;
}
.header__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #6D3496;
}
.section {
    display: flex;
    flex-direction: column;
}
.section__from {
    margin: 0 auto;
    
}
.section__from__input {
    display: flex;
    border: 2px solid #6D3496;
    border-radius: 3px;
    width: 334px;
    height: 42px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #6D3496;
}
.section__from__input-1 {
    display: block;
    border: 2px solid #6D3496;
    border-radius: 3px;
    width: 334px;
    height: 42px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #6D3496;
}
.section__form-1 {
    flex-direction: row;
}
.section__form__text {
    display: flex;
    margin-left: 10px;
    width: 304px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #6D3496;
}
.section__form__flex {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}
.section__from-block {
    display: flex;
    flex-direction: row;
}
.section__button {
    width: 334px;
    height: 50px;
    background-color: #6D3496;
    border-radius: 3px;
    color: white;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;

}
.Request {
    display: flex;
    width: 608px;
    height: 348px; 
    background-color: #F5F5F5;  
    flex-direction: column;
    text-align: center;
}
.Request__text-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #6D3496;
}
.Request__text-2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #6D3496;
}
.Request__form__Button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #6D3496;
    color: white;
    margin-top: 30px;
    width: 177px;
    height: 50px;
    border-radius: 3px;
}